<% layout('/layouts/boilerplate') -%>
<body>
    <h3>All Listing</h3>
    <!-- <form action="http://localhost:3000/listings/new" method="get">
        <button type="submit">Create new Listing</button>
    </form> -->
  
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 listing-card">
        <% for( let listing of allListings ) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card-col">
                <img src="<%= listing.image.url %>" 
                class="card-img-top om" 
                alt="listing_image" 
                style="height: 20rem;"/>
                <!-- <div class="card-img-overlay">abcd</div> -->
                <div class="card-body">
                  <p class="card-text rut">
                    <b><%= listing.title %></b>
                    <br>
                     &#x20B9; <%= listing.price.toLocaleString("en-IN")  %>/night
                  </p>
                </div>
              </div>
            </a>
              <% } %>
        
    </div>
        
</body>
